:host ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    color: white;
}

:host ::ng-deep .mat-mdc-tab:hover .mdc-tab__text-label {
    color: rgb(203, 203, 203);
}

:host ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: rgb(0, 145, 255);
}

:host ::ng-deep .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
    color: rgb(106, 172, 223);
}

:host ::ng-deep .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
    color: rgb(91, 184, 255);
}

.fondo {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 450px;
    width: 450px;
}

h1 {
    text-align: center;
    color: blueviolet;
}

.informacion {
    margin: 50px;
    padding: 50px;
    height: 100%;
}

.fondo {
    margin-bottom: 200px;
}