<h1 class="mt-2">NOVEDADES ANGULAR 18</h1>
<hr>
<p>El 22 de Mayo de 2024 ha sido lanzada la nueva versión de Angular 18 en la cual destaca soporte experimental para la
    detección de cambios sin zonas, un sitio web renovado (angular.dev) y mejoras en Angular
    Material 3, vistas aplazables y control de flujo integrado.
</p>
<p>Las mejoras en el renderizado del lado del servidor incluyen
    soporte para la hidratación i18n y reproducción de eventos. La detección de cambios sin zonas mejora la
    compatibilidad
    con microfrontends y otros marcos, ofreciendo una mayor velocidad y depuración simplificada. </p>
<p>Además, la nueva versión
    incluye optimizaciones para la migración y depuración de aplicaciones, una nueva página de documentación, y mejoras
    en
    el control de formularios y redirecciones de rutas.</p>
<p></p>

<hr>
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
            aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"
            aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9"
            aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10"
            aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11"
            aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12"
            aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13"
            aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14"
            aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15"
            aria-label="Slide 16"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="16"
            aria-label="Slide 17"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="17"
            aria-label="Slide 18"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="18"
            aria-label="Slide 19"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="19"
            aria-label="Slide 20"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="20"
            aria-label="Slide 21"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="21"
            aria-label="Slide 22"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="22"
            aria-label="Slide 23"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="23"
            aria-label="Slide 24"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="24"
            aria-label="Slide 25"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="25"
            aria-label="Slide 26"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="26"
            aria-label="Slide 27"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="27"
            aria-label="Slide 28"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="28"
            aria-label="Slide 29"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="29"
            aria-label="Slide 30"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="30"
            aria-label="Slide 31"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="31"
            aria-label="Slide 32"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="32"
            aria-label="Slide 33"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="33"
            aria-label="Slide 34"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="34"
            aria-label="Slide 35"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="35"
            aria-label="Slide 36"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="36"
            aria-label="Slide 37"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="37"
            aria-label="Slide 38"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="38"
            aria-label="Slide 39"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="39"
            aria-label="Slide 40"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/imgs/1.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/2.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/3.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/4.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/5.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/6.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/7.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/8.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/9.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/10.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/11.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/12.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/13.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/14.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/15.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/16.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/17.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/18.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/19.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/20.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/21.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/22.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/23.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/24.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/25.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/26.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/27.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/28.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/29.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/30.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/31.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/32.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/33.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/34.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/35.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/36.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/37.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/38.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/39.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>
        <div class="carousel-item">
            <img src="/assets/imgs/40.png" class="d-block w-100" alt="angular 18 tutorial">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>